<div class="jumbotron">
  <%= image_tag 'hero2.jpg', width: "100%"%>
  <div class="title">
    <h1>Kriti and Arjun</h1>
    <div class="home-date">June 11th <span class="bar"></span> Chicago</div>
  </div>
</div>
<div class="container">
  <div class="row" id="rsvp">
    <div class="col-md-12">
      <div class="choose-household-form">
        <h2>RSVP info</h2>
        <p class="half-width-info">We've sent an email to at least one member of your household that contains an RSVP link. The email was sent from "noreply@kritiandarjun.com" and had a subject line of "RSVP for Kriti and Arjun's Wedding". If you haven't gotten anything yet, check your spam folder or resend the link by entering your email in the form below. Email Arjun at <a href="mailto:avenkat2@gmail.com">avenkat2@gmail.com</a> if you're still having issues.</p>
        <%= form_tag(resend_rsvp_households_path, method: :get, class: 'form-inline') do %>
          <div class="form-group">
            <%= text_field_tag :email, "", placeholder: 'kriti@example.com', class: 'form-control' %>
          </div>
          <button type="submit" class="btn btn-primary">Resend RSVP link</button>
          <%#= submit_tag "Resend RSVP link", class: 'btn btn-primary' %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<div class="image-heading" id="accomodations">
  <div class="screen sub-screen">
    <div class="container">
      <h2>Accomodations</h2>
      <%= render 'address', event: Event.find_by_name("Wedding Ceremony") %>
      <p>The ceremony and reception will take place here. We have reserved a block of rooms under the name "Goel Wedding"</p>
    </div>
  </div>
</div>


<script>
  $(function(){
    $( "#guest_household_id" ).select2({
        placeholder: "The Goels",
        theme: "bootstrap"
    });

    $( "#guest_id" ).select2({
        placeholder: "Select any member of your household",
        theme: "bootstrap"
    });
  });
</script>
