.title {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  h1 {
    font-family: "Sacramento";
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 0.2em;
  }

  .home-date {
    font-size: 1.5em;
    font-family: 'Alice', serif;
    color: black;
    .bar {
      display: inline-block;
      height: 2em;
      vertical-align: middle;
      border-left: 1px solid black;
      border-right: 1px solid black;
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }
}

.form-inline .form-group.resend-rsvp-field {
  width: 300px;
  input[type="text"] {
    width: 100%;
  }
}

.choose-household-form {
  text-align: center;
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.2em;
    padding-bottom: 0.4em;
  }
  .select2-container, input[type="submit"] {
    margin-top: 1em;
  }
  margin-bottom: 6em;
}


@media (min-width: $screen-sm-min) {
  .title {
    h1 {
      font-size: 6em;
    }
    .home-date {
      font-size: 2em;
    }
  }
}

@media (min-width: $screen-md-min) {
  .title {
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    bottom: 5%;
    opacity: 0.7;
    h1 {
      color: white;
      text-align: center;
      font-size: 7em;
    }
    .home-date {
      color: white;
      font-size: 2.4em;
      font-weight: bold;
      .bar {
        border-color: white;
        border-width: 1px;
      }
    }
  }
}
