// Place all the styles related to the rsvps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rsvp-title {
  margin-bottom: 2em;
}

.rsvp-form {
  h1 {
    font-size: 42px;
  }
}

.form-event-name h4 {
  line-height: 56px;
  margin: 0;
  font-weight: bold;
}

.form-rsvp-status select, select.guest-status {
  font-size: 24px;
  line-height: 37px;
  height: 56px;
}

.guest-name input.form-control {
  font-size: 32px;
  height: 2em;
}

.rsvp-date-time {
  margin-bottom: 0;
}
.rsvp-address {
  margin-top: 0;
}

.rsvp-date-time, .rsvp-address {
  line-height: 1.4;
  small {
    color: gray;
  }
}

.rsvp-event-desc {
  font-size: 1.4em;
  margin-top: 0.4em;
  line-height: 1.1em;
}


.rsvp-status {
  h1 {
    margin-bottom: 0.3em;
  }
  p {
    font-size: 1.2em;
  }
  h2 {
    font-size: 2.4em;
  }
}
